/* 
Les marges
*/
    *{
        margin: 0;
        padding: 0;
    }

    html{
        /* Passer d'une base 16 à une base 10 */
        font-size: 60.5%;
    }

    body{
        font-size: 2rem;
    }

    ul{
        width: 15rem;
        border: .5rem solid red;
        padding: 5rem 10rem;
        margin: 10rem auto;
    }
/**/
