/*
Reset CSS
Faire en sorte de supprimer certains style du navigateur (user-agent)
pour faciliter le design d'une page
*/
    /* Sélectionner toutes les balises HTML */
    *{
        /* Supprimer toutes les marges */
        margin: 0; /* ext. */
        padding: 0; /* int. */

        /* 
        Intégrer les bordures et les paddings
        dans la taille des balises (CSS3)
        https://www.w3schools.com/css/css3_box-sizing.asp
        */
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
        box-sizing: border-box;
    }

    /* Configurer l'utilisation des cadratins (rem) */
    html{
        font-size: 62.5%; /* Passer d'une base 16 à une base 10 (1rem = 10px) */
    }

    /* Utiliser la balise BODY pour définir la police de caractère principale */
    body{
        font-family: sans-serif;
        font-size: 2rem;
        font-weight: normal;
    }

    /* Gestion des transitions (CSS3) */
    a, button{
        -webkit-transition: all .3s;
        -moz-transition: all .3s;
        -ms-transition: all .3s;
        -o-transition: all .3s;
        transition: all .3s;
    }

    a{
        text-decoration: none; /* Supprimer les soulignements */
        color: inherit; /* La couuleur est définie sur la parent de la balise A */
    }

    /* Sélectionner les balise A dont la TARGET est _BLANK */
    a[target="_blank"]{
        border-bottom: .1rem dotted black;
    }

    /* Faire en sorte que les images ne dépassent jamais la taille du parent */
    img{
        max-width: 100%;
    }
/**/